body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif!important;
}
/* Product image */
.product-image {
  width: 180px;
  height: 200px;
}
/* My Cart */
.cart {
  width: 320px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  position: fixed;
}

/* Media Query For mobile phones: */
@media only screen and (max-width: 768px) {
  .cart {
    width: 280px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
}
